.App{
    background-color: white;
    margin: auto;
    border-radius: 15px;
    max-width: 450px;
}

input{
    width: 350px;
    border-style: none;
    border-bottom: 1px solid #cdd1e0;
}

input:focus {
    outline: none;
    border-style: none;
    border-bottom: 2px solid #6a65c9;
    color: #000000;
}

.PName:focus-within{
    color: #6a65c9;
}

.MsgTex{
    text-align: center;
}

.Impts{
    margin: 10px 0px 0px 50px;
    width: 350px;
}

button{
    width: 350px;
    margin: 10px auto;
    padding: 20px 100px;
    background-color: #413ef7;
    border: none;
    border-radius: 10px;
    color: white;
}

button:active{
    background-color: #625ff7;
    color: black;
}

h2{
    text-align: left;
    font-size: 30px;
    margin: 50px 50px 10px;
}

h3{
    margin: auto 50px;
    text-align: left;
    color: #aaafb3;
}

main{
    width: 450px;
}

a{
    width: max-content;
    color: #413ef7;
    text-decoration: none;
}

a:active{
    color: #6a67fa;
}

p{
    height: 60px;
    width: max-content;
    color: #aaafb3;
}

*{
    color: #2c343e;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}